{% extends 'master/base.html' %}
{% load widget_tweaks %}
			{% block body %}
			<section  class="basic">

			<div class="header">
				<a href="#" class="nav-trigger"><span></span></a>
				<h1 class="h1">ADMIN PANEL </h1>
			</div>
			<div class="side-nav">
				<nav>
					<ul >
						<!-- <li>
							<a href="#">
								<span><i class="fa fa-home"></i></span>
								<span class="span">Hospital System</span>
							</a>
						</li> -->
						<li style="background-color:#3E3E40">
							<a href="#">
								<div class="image1">
									<!-- <img src="{{MEDIA_URL}}{{s.image.url}}" alt="" /> -->
									<img src='#' alt="Photo Of admin "  class="image1">
									<!-- <span><i class="fa fa-phone"></i></span> -->
									<h5>{{request.user.name}}</h5>
									<!-- <span class="span">Message</span> --><p> </p>
								</div>

							</a>
						</li>
						<li>
							<div class="side" style='padding-left:20px; margin: 10px;'>

									<a href="{% url 'edit_profile'%}"> <h5><i class="fa fa-sign-out"></i> <span style="padding-left:20px;">EDIT PROFILE</span></h5></a>
										<a href="{% url 'index' %}"><h5><i class="fa fa-home"></i><span style="padding-left:20px;"></span>HOME</h5></a><br>
										<a href="{% url 'logout' %}"> <h5><i class="fa fa-sign-out"></i> <span style="padding-left:20px;">LOGOUT</span></h5></a>
							</div>
							</li>
							<li>
								<div class="side" style='padding-left:20px; margin: 10px;'>

										<a href="{% url 'show_adminprofile' %}"> <h5><i class="fa fa-edit"></i><span style="padding-left:20px;">SHOW PROFILE</span></h5></a><br>
											<a href="{%url 'register'%}"><h5><i class="fa fa-home"></i><span style="padding-left:20px;"></span>Register User</h5></a><br>
											<a href="{% url 'login' %}"> <h5><i class="fa fa-sign-out"></i> <span style="padding-left:20px;">Go To Login</span></h5></a>
								</div>
								</li>
					</ul>
				</nav>
			</div>
			<!-- ===============================================
									edit section START
			=============================================== -->
			<div class="btnstyle" style="color:red;">
			  <div class="row btnstylerow">
        	<div class="container">
        <form  method="POST" action=''>
              {% csrf_token %}

              {{ form.as_p }}
              {{ forma.as_p }}
              <button type="submit">Submit</button>

          </form>
        </div>
				</div>
				</div>

			<\section>

			<br><br>
				{% endblock %}
