{% extends 'master/base.html' %}
{% load widget_tweaks %}
			{% block body %}
			<div class="main" role="main">
			  <!-- Page Heading -->
			  <section class="page-heading">
			    <div class="container">
			      <div class="row">
			        <div class="col-md-12">
                <!-- <img src="{{form.image.url}}" alt=""> -->
								<h2 style=" text-transform: uppercase;">{{form.name}}</h2>
			        </div>
			      </div>
			    </div>
			  </section>
			  </div>
<div class="row"  style="background-color:#EAE78C; padding:50px 0 0 0;">
<div class=" container">
  <div class="col-md-4 thumbnail" style="height:700px;">

			<form class="" action="" method="post">
				<h3>Patient Info></h3>
				{% csrf_token %}
			<li style="padding:10px;">ID:{{form.id}}</li>
			<li style="padding:10px;">Name:{{form.name}}</li>
			<li style="padding:10px;">Age:{{form.age}}</li>
			<li style="padding:10px;">Phone No.:{{form.phoneno}}</li>
			<li style="padding:10px;">Address:{{form.address}}</li>
			<li style="padding:10px;">Date:{{form.date}}</li>
			<li style="padding:10px;">About:{{form.about}}</li>

		</div>

		<div class="col-md-8">


					<div class="tab">
						<button class="tablinks active" onclick="openCity(event, 'London')">Medicine</button>

					</div>


						<div class="row ">
							<div class="container">
								<table class="table table-dark">
									<thead>
										<tr>
											<th scope="col">id</th>
											<th scope="col">Name</th>
											<th scope="col">Date</th>
											<th scope="col">Medicine Name</th>
											<th scope="col">Comment</th>
											<th scope="col">Follow On Date</th>
											<th scope="col">Is_Purchased</th>
											<th scope="col">save</th>

										</tr>
										{% for i in lform %}

											<tr>
												<td>{{i.id}}</td>
												<td>{{i.patient.name}}</td>
												<td>{{i.date}}</td>
												<td>{{i.medicine_name}}</td>
												<td>{{i.comment}}</td>
												<td>{{i.follow_on_date}}</td>
										<form class="" action="#" method="post">

											<td>{{mform.is_purchased}}</td>
											<td><button type="submit" name="button" value="Save" class="btn btn-primary">Save</button></td>
										</form>
											</tr>


										{% endfor %}

									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>


  		</div>
</div>

{% endblock %}
