

{% extends 'master/base.html' %}
{% load widget_tweaks %
{% load staticfiles %}
  {% block title %}  admin DashBoard {% endblock %}

  {% block body %}
  <section  class="basic">

  <div class="header">
    <a href="#" class="nav-trigger"><span></span></a>
    <h1 class="h1">STAFF DASHBOARD </h1>
  </div>
  <div class="side-nav">
    <nav>
      <ul >
        <!-- <li>
          <a href="#">
            <span><i class="fa fa-home"></i></span>
            <span class="span">Hospital System</span>
          </a>
        </li> -->
        <li style="background-color:#3E3E40">
          <a href="#">
            <div class="image1">
              <img src="{% static 'img/1.jpg' %}" alt="Photo Of admin "  class="image1">
              <!-- <span><i class="fa fa-phone"></i></span> -->
              <h5>Bikash Saud</h5>
              <!-- <span class="span">Message</span> --><p> </p>
            </div>

          </a>
        </li>
        <li>
          <div class="side" style='padding-left:20px; margin: 10px;'>

              <a href="#"> <h5><i class="fa fa-edit"></i><span style="padding-left:20px;">EDIT PROFILE</span></h5></a><br>
                <a href="#"><h5><i class="fa fa-home"></i><span style="padding-left:20px;"></span>HOME</h5></a><br>
                <a href="{% url 'logout' %}"> <h5><i class="fa fa-sign-out"></i> <span style="padding-left:20px;">LOGOUT</span></h5></a>
          </div>
          </li>
          <li>
            <div class="side" style='padding-left:20px; margin: 10px;'>

                <a href="#"> <h5><i class="fa fa-edit"></i><span style="padding-left:20px;">EDIT PROFILE</span></h5></a><br>
                <a href="{% url 'change_password' %}"> <h5><i class="fa fa-sign-out"></i> <span style="padding-left:20px;">Change Password</span></h5></a>
                  <a href="#"> <h5><i class="fa fa-sign-out"></i> <span style="padding-left:20px;">LOGOUT</span></h5></a>
            </div>
            </li>
            <li>
              <div class="side" style='padding-left:20px; margin: 10px;'>

                  <a href="#"> <h5><i class="fa fa-edit"></i><span style="padding-left:20px;">EDIT PROFILE</span></h5></a><br>
                    <a href="#"><h5><i class="fa fa-home"></i><span style="padding-left:20px;"></span>HOME</h5></a><br>
                    <a href="#"> <h5><i class="fa fa-sign-out"></i> <span style="padding-left:20px;">LOGOUT</span></h5></a>
              </div>
              </li>
      </ul>
    </nav>
  </div>

<!-- ==========================================================================
ADD BUTTON START
=========================================================================== -->
<div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
  </div>
</div>
<div class="">
  <div class="btnstyle">
    <div class="row btnstylerow">
      <div class="container">
        <div class="col-md-2 col-sm btn">
          <a href="{% url 'patient_register' %}"><button type="button" id="myButton" class="btn btn-primary btn-lg btn-block">ADD New<br> Patients</button></a>
        </div>
        <form class="example" action="" style="margin:auto;max-width:300px">
          <input type="text" placeholder="Search..." name="search2">
          <button style="padding:14px;" type="submit"><i class="fa fa-search "></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
  <!--  ===========================================
                      Start TAbles
        =========================================== -->
  <div class="tblstyle">
    <h3>New Added Patients</h3>
    <div class="row " >
      <div class="container">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <!-- <th scope="col">Email</th> -->
              <th scope="col">Date</th>
              <th scope="col">Age</th>
              <th scope="col">Phone No.</th>
              <th scope="col">Added By</th>

            </tr>
          </thead>
          <tbody>
            {% for f in form %}

            <tr>
              <!-- <th scope="row">1</th> -->
              <td>{{f.id}}</td>
              <td>{{f.name}}</td>
              <!-- <td>{{f.}}</td> -->
              <td>{{f.date}}</td>
              <td>{{f.age}}</td>
              <td>{{f.phoneno}}</td>
              <td>{{request.user.name}}</td>
            </tr>
            {% endfor %}

          </table>
        </div>
      </div>
    </div>
    </section>
    <br>

  {% endblock %}
