{% extends 'master/base.html' %}
{% load widget_tweaks %}
			{% block body %}
			<div class="main" role="main">
			  <!-- Page Heading -->
			  <section class="page-heading">
			    <div class="container">
			      <div class="row">
			        <div class="col-md-12">
			          <h1>Hospital Management System</h1><br>
								<h2>Internship Project</h2>
			        </div>
			      </div>
			    </div>
			  </section>
			  </div>
        <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>

        {% endblock%}
