{% extends 'master/base.html' %}
{% load widget_tweaks %}
			{% block body %}
			<div class="main" role="main">
			  <!-- Page Heading -->
			  <section class="page-heading">
			    <div class="container">
			      <div class="row">
			        <div class="col-md-12">
			          <h1>Hospital Management System</h1><br>
								<h2>Internship Project</h2>
			        </div>
			      </div>
			    </div>
			  </section>
			  </div>
        <h3>Forgot password</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>

        {% endblock%}
